/* .homeContainer{
    background-image: url('./landing-page.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 99vw;
    height: 97vh;
}

.branding{
    position: absolute;
    top: 180px;
    left: 115px;
    background-color: #EEEEEE;
    height: 240px;
    width: 555px;
    background: linear-gradient(180deg, #EEEEEE, #EFEAE2)

} */